* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    /*Fixes the height to 100% of the viewport*/
}

body {
    padding-top: 83px;
}

.navbar {
    background-color: white;
    border: none;
}

.nav-item {
    font-size: 1.15em;
}

.logo {
    height: 40px;
    width: calc(height * 7.56px);
}


.index-background {
    background-image: url(./assets/img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 55%;
    min-height: 100vh;
}


/* Footer */

footer {
    padding-bottom: 2%;
    background-image: linear-gradient(#A7E3F8, white);

}


/* Footer social medias */

footer a {
    color: black;

}

footer a:hover {
    color: #147ca6;
    text-decoration: none;
}

.title h1 {
    font-size: 3rem;
}

.font-size-larger {
    font-size: larger;
}

.btn-al-blue:hover {
    background-color: #147ca6;
}

.btn-al-blue {
    background-color: rgba(20, 124, 166, 0.75);

}

.bg-orange {
    background-color: #f27b50;
}

.bg-blue {
    background-color: #147ca6;
}

.sponsor-logo-lg {
    max-width: 85vw;
}

.sport-img {
    width: 330px;
    height: 265px;
    object-fit: cover;
}

/* 992px = bootstrap lg */
@media (min-width: 992px) {
    .pt-lg-20 {
        padding-top: 20vh;
    }

    .sponsor-logo-lg {
        max-width: 20vw;
    }
}