---
layout: base
title: Join us as a guide
permalink: /guide-verification/
---
<section class="page-section" id="guide-verification">
    <div data-paperform-id="1zyaco6i" class="min-vh-80"></div>
    <script>
        (function () {
            var script = document.createElement('script');
            script.src = "https://paperform.co/__embed.min.js";
            document.body.appendChild(script);
        })()
    </script>
</section>
<script>
    window.onload = function () {
        document.body.querySelector('#mainNav').classList.add('navbar-shrink');
    }
</script>